# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Tests
x64
Debug
.vs
.git
search-server/.vs
search-server/x64
CppProperties.json
Yandex.sln
Yandex.vcxproj
Yandex.vcxproj.filters
Yandex.vcxproj.user
search-server/CppProperties.json
search-server/CPP_Yandex.vcxproj.user
search-server/CPP_Yandex.vcxproj
search-server/CPP_Yandex.vcxproj.filters
search-server/CPP_Yandex.sln